@media print {
    body{
        margin: 0;
        font: 14px/1.5 Arial;
        color: #666;
        background: #efefef;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino;
    }
    p{margin: 0;}
    a{text-decoration: none;}
    strong{
        color: #007bff;
    }
    .layout{
        max-width: 23.85cm; 
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    header{
        width: 23.85cm; 
        background: #3c3c3c;
        padding: 1.587cm 0 0.265cm 0;
        text-align: center;
        color: #fff;
    }
    header>h1{
        font-size: 30px;
        margin-bottom: 0;
    }
    header>p{
        font-size: 18px;
        color: #aaa;
        margin: 0;
        margin-top: 0.26cm;
    }
    aside{
        width: 6.36cm;
        background: #fff;
        border-right: 1px solid #ccc;
        position: relative;
        padding-top: 2.65cm;
    }
    aside .avator{
        text-align: center;
        position: absolute;
        top: -2.91cm;
        width: 100%;
    }
    aside .avator img{
        width: 4.23cm;
        height: 5.90cm;
        border-radius: 50%;
        border: 1px solid #ccc;
        background: #ccc;
    }
    section{
        border-bottom: 0.053cm solid #ccc;
        margin: 0.72cm 0.53cm 0 0.53cm;
        padding-bottom: 0.53cm;
    }
    section h2{
        color: #007bff;
        font-size: 22px;
    }
    .personal .item span:first-child{
        display: inline-block;
        width: 1.802cm;
    }
    .personal .item span:last-child::before{
        content: ":";
        margin-right: 0.26cm;
    }
    /* .skills .item{
        display: flex;
        align-items: center;
    }
    .skills .keyword{
        width: 2.12cm;
    } */
    .skills .item{
        display: flex;
        flex-direction: column;
    }
    .skills .keyword{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .skills .rule{
        /* flex: 1; */
        width: 100%;
        height: 0.11cm;
        background: #ccc;
    }
    .skills .rule i{
        display: block;
        width: 10%;
        height: 0.11cm;
        background: #000;
    }

    .contact .item{
        display: flex;
        align-items: center;
    }
    .contact svg{
        width: 0.66cm;
        height: 0.66cm;
    }
    .contact .item span{
        margin-left: 0.265cm;
    }

    main{
        flex: 1;
        min-height: calc(100vh - 100px);
        background: #fff;
    }
    main .school .item span+span{
        margin-left: 2.0cm;
    }
}