body{
    margin: 0;
    font: 14px/1.5 Arial;
    color: #666;
    background: #efefef;
}
a{text-decoration: none;}
.layout{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100%;
    background: #3c3c3c;
    padding: 60px 0 10px 0;
    text-align: center;
    color: #fff;
}
header>h1{
    font-size: 30px;
    margin-bottom: 0;
}
header>p{
    font-size: 18px;
    color: #aaa;
    margin: 0;
}
aside{
    width: 240px;
    background: #fff;
    border-right: 1px solid #ccc;
    position: relative;
    padding-top: 100px;
}
aside .avator{
    text-align: center;
    position: absolute;
    top: -80px;
    width: 100%;
}
aside .avator img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #ccc;
}
section{
    border-bottom: 2px solid #ccc;
    margin: 30px 20px 0 20px;
    padding-bottom: 20px;
}
section h2{
    color: #5c99ca;
    font-size: 16px;
}
.personal .item span:first-child{
    display: inline-block;
    width: 88px;
    width: 68px;
}
.personal .item span:last-child::before{
    content: ":";
    margin-right: 10px;
}
.skills .item{
    display: flex;
    align-items: center;
}
.skills .keyword{
    width: 80px;
}
.skills .rule{
    flex: 1;
    height: 4px;
    background: #ccc;
}
.skills .rule i{
    display: block;
    width: 10%;
    height: 4px;
    background: #000;
}

.contact .item{
    display: flex;
    align-items: center;
}
.contact svg{
    width: 25px;
    height: 25px;
}
.contact .item span{
    margin-left: 10px;
}

main{
    flex: 1;
    min-height: calc(100vh - 100px);
    background: #fff;
}
main .school .item span+span{
    margin-left: 140px;
}
@media(max-width:768px){
    header{
        padding-top: 20px;
        padding-bottom: 90px;
    }
    aside{
        width: 100%;
        padding-top: 0;
    }
    aside .avator img{
        width: 100px;
        height: 100px;
    }
}
